<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSRPG Leaderboards</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <%- include('nav', { navItems }) %>
  <h1>
    <%= name %>
  </h1>
  <table>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Time</th>
      <th>Gear Points</th>
    </tr>
    <% data.forEach((item, index)=> { %>
    <tr>
      <td class="table-rank">
        <%= index + 1 %>.
      </td>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= item.time %>
      </td>
      <td style="text-align: right;">
        <%= item.power %>
      </td>
    </tr>
    <% }); %>
  </table>
</body>

</html>